<li class="header">导航</li>
<li>
    <a href="{:url('/admin/main/index')}">
        <i class="fa fa-dashboard"></i> <span>首页</span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-book"></i>
        <span>文章</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{:url('/admin/article/editor/add')}"><i class="fa "></i>编辑</a></li>
        <li><a href="{:url('/admin/article/editor/index')}"><i class="fa"></i>列表</a></li>
        <li><a href="{:url('/admin/article/category/index')}"><i class="fa"></i>类别</a></li>
    </ul>
</li>